/*@import "../styles/fonts";*/
/*@import "../styles/reset";*/
/*@import "../styles/variables";*/

body {
  color: black;
  background-color: lightgray;
}


#popup {
  min-width: 350px;
  padding: 30px 20px;

}

#popup h2 {
  font-size: 25px;
  text-align: center;
}

#popup #options__button {
  width: 50%;
  background: green;
  color: white;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px 10px;
  justify-content: center;
  margin: 20px auto;
  cursor: pointer;
  opacity: 0.8;
  display: flex;
}
